.~lock.*#
*.db
plantuml-images
node_modules
tmp
0_KOLL_3HWII/Teil2/Teil2.pdf
0_KOLL_3HWII/Teil1/Teil1.pdf
0_KOLL_3HWII_IMMO/mine/prisma/dev.db
0_KOLL_3HWII_IMMO/kolloquium.zip
0_diverse_prisma_schemas/Person_Mutter_Vater/prisma/dev.db
2HWII_PLF_SWP_DBI/lsg/pers.db
5HWII_PLF2_SQL_Labyrinth/README.pdf
bin/
obj/