body {
    max-width: 95vw;
    background-color: #5286c1;
}

.darkback {
    background-color: #4371a3;
}
.newsback {
    background-color: #5a8bc4;
}
footer {
    background-color: #12375c;
}
.rubrik {
    color: #222222;
}
.bildergrid {
    justify-content: center;
    max-width: 75vw;
    margin-left: 10vw;
    display: grid;
    grid-template-columns: repeat(5, 160px);
    grid-template-rows: repeat(2, 180px);
    grid-template-areas:
        "ape fli fli gert sch"
        "ape ver tis tis sch";
    gap: 0.2em;
    /* border: 0.2em solid red; */
}
.appell {
    grid-area: ape;
    z-index: 3;
}
.flieger {
    grid-area: fli;
}
.gert {
    grid-area: gert;
}
.scheich {
    grid-area: sch;
}
.verstappen {
    grid-area: ver;
    /* border: 3px solid yellow; */
}
.tisch {
    grid-area: tis;
}
div img {
    height: 100%;
    object-fit: unset;
}

div.bild06 img {
    width: 100%;
}
